<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.example.dao.mapper.SyncTaskExceptionMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.domain.entity.SyncTaskException">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="task_exception" property="taskException"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, task_exception
    </sql>

</mapper>
