<!DOCTYPE html>
<html lang="el" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--适配IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 适配移动端 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/script/common/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/script/common/bootstrap/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/static/script/common/bootstrap/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/static/script/common/bootstrap/css/bootstrapValidator.min.css}">
    <link rel="stylesheet" th:href="@{/static/script/common/bootstrap/css/bootstrap-select.min.css}">

    <!-- JS -->
    <script th:src="@{/static/script/common/jquery/js/jquery.min.js}"></script>
    <script th:src="@{/static/script/common/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/script/common/bootstrap/js/moment-with-locales.min.js}"></script>
    <script th:src="@{/static/script/common/bootstrap/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/static/script/common/bootstrap/js/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/static/script/common/bootstrap/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/static/script/common/bootstrap/js/bootstrapValidator.min.js}"></script>
    <script th:src="@{/static/script/common/artDialog/js/dialog-plus.js}"></script>
    <script th:src="@{/static/script/common/common.js}"></script>
    <script th:src="@{/static/script/jobs_manager.js}"></script>


    <title>Jobs管理中心</title>
</head>
<style>
    table td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">数据查询</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="status">状态：</label>
                <select id="status" name="status" class="selectpicker show-tick form-control">
                    <option value="" selected>全部</option>
                    <option th:value="0">停止</option>
                    <option th:value="1">启动</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary" id="queryBtn">查询</button>
        </form>
    </div>
</div>

<div class="panel panel-primary" style="height: 100%">
    <div class="panel-heading">
        <h3 class="panel-title">Jobs列表</h3>
    </div>
    <div class="panel-body">
        <table id="table" data-height="500" style="table-layout:fixed"
               class="table table-condensed table-bordered table-hover table-striped"></table>
    </div>
</div>
<div class="panel panel-primary" style="height: 100%">
    <div class="panel-heading">
        <h3 class="panel-title">Jobs配置备注</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>① 一个分片则是一个线程，处理一个参数配置下的业务逻辑</li>
            <li>② 分片数 / 分片参数组合(N>=1)，分片参数中不允许带有','，即A,B,C可以是任意规则的参数[使用时按规则解析]，但中间不允许带','[影响分片]，A,B,C中如果有多种业务参数的需求请用'#'拼接[0:A ->0:bizA=valueA#bizB=valueB]
                <table style="table-layout:fixed"
                       class="table table-condensed table-bordered table-hover table-striped">
                    <tr>
                        <td width="200">分片数 > 分片参数数量</td>
                        <td width="100" align="left">[1,N] / N - 1</td>
                        <td>配置的分片数大于分片参数数量[ex: 2 / 0:A]，多出的分片 1 会启动，但分片参数为null且不会执行业务逻辑。</td>
                    </tr>
                    <tr>
                        <td width="200">分片数 = 分片参数数量</td>
                        <td width="100" align="left">[1,N] / N</td>
                        <td>配置的分片数等于分片参数数量[ex: 2 / 0:A,1:B]，则一片一线程一参数，各自执行业务逻辑。</td>
                    </tr>
                    <tr>
                        <td width="200">分片数 < 分片参数数量</td>
                        <td width="100" align="left">[1,N] / N + 1</td>
                        <td>配置的分片数小于分片参数数量[ex: 2 / 0:A,1:B,2:C]，多出的参数 2:C 不会被任何分片获取执行。</td>
                    </tr>
                </table>
            </li>
            <li>③ Cron表达式参考
                <table style="table-layout:fixed"
                       class="table table-condensed table-bordered table-hover table-striped">
                    <tr>
                        <td width="210">[秒] [分] [小时] [日] [月] [周] [年]</td>
                        <td>格式</td>
                    </tr>
                    <tr>
                        <td>*/1 * * * * ?</td>
                        <td>每隔1秒执行一次</td>
                    </tr>
                    <tr>
                        <td>0 */1 * * * ?</td>
                        <td>每隔1分钟执行一次</td>
                    </tr>
                    <tr>
                        <td>0 0 0/1 * * ?</td>
                        <td>每隔1小时执行一次（整点）</td>
                    </tr>
                    <tr>
                        <td>0 0 12 * * ?</td>
                        <td>每天中午十二点触发</td>
                    </tr>
                    <tr>
                        <td>0 0 23 * * ?</td>
                        <td>每天23点执行一次</td>
                    </tr>
                    <tr>
                        <td>0 0 1 * * ?</td>
                        <td>每天凌晨1点执行一次</td>
                    </tr>
                    <tr>
                        <td>0 0 1 1 * ?</td>
                        <td>每月1号凌晨1点执行一次</td>
                    </tr>
                    <tr>
                        <td>0 0 23 L * ?</td>
                        <td>每月最后一天23点执行一次</td>
                    </tr>
                    <tr>
                        <td>0 0 1 ? * L</td>
                        <td>每周星期天凌晨1点实行一次</td>
                    </tr>
                    <tr>
                        <td>0 26,29,33 * * * ?</td>
                        <td>在26分、29分、33分执行一次</td>
                    </tr>
                    <tr>
                        <td>0 0 0,13,18,21 * * ?</td>
                        <td>每天的0点、13点、18点、21点都执行一次</td>
                    </tr>
                    <tr>
                        <td>0 15 10 ? * *</td>
                        <td>每天早上10：15触发</td>
                    </tr>
                    <tr>
                        <td>0 15 10 * * ? 2005</td>
                        <td>2005年的每天早上10：15触发</td>
                    </tr>
                    <tr>
                        <td>0 * 14 * * ?</td>
                        <td>每天从下午2点开始到2点59分每分钟一次触发</td>
                    </tr>
                    <tr>
                        <td>0 0/5 14 * * ?</td>
                        <td>每天从下午2点开始到2：55分结束每5分钟一次触发</td>
                    </tr>
                    <tr>
                        <td>0 0/5 14,18 * * ?</td>
                        <td>每天的下午2点至2：55和6点至6点55分两个时间段内每5分钟一次触发</td>
                    </tr>
                    <tr>
                        <td>0 0-5 14 * * ?</td>
                        <td>每天14:00至14:05每分钟一次触发</td>
                    </tr>
                    <tr>
                        <td>0 15 10 ? * MON-FRI</td>
                        <td>每个周一、周二、周三、周四、周五的10：15触发</td>
                    </tr>
                </table>

            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="updateJobConfig" backdrop="static" keyboard="false">
    <div style="width: 600px;height:100px; z-index: 10; position: absolute; text-align: center; left: 35%; top: 20%;margin-left:-100px;margin-top:-10px">
        　　　　
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label class="panel-title" style="font-size: 25px;font-family: 'Microsoft YaHei UI';font-weight:bold ">Job配置信息-编辑</label>
            </div>

            <div class="container" style="width: 600px;float: left;background: white;padding-top: 15px;">
                <div class="row">
                    <!-- form: -->
                    <section>
                        <div class="col-lg-8 col-lg-offset-0" style="width: 600px;">
                            <form id="defaultForm" method="post" class="form-horizontal">
                                <input type="hidden" name="id" id="id">
                                <input type="hidden" name="jobName" id="jobName">
                                <input type="hidden" name="jobClassBeanName" id="jobClassBeanName">
                                <input type="hidden" name="jobStatus" id="jobStatus">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="shardingTotalCount"><label style="color: red;">*</label>分片数：</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" name="shardingTotalCount"
                                               id="shardingTotalCount"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="shardingItemParams">分片参数：</label>
                                    <div class="col-lg-7">
                                        <textarea type="text" rows="4" style="width: 100%" class="form-control" name="shardingItemParams"
                                                  id="shardingItemParams"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="cronExpression"><label style="color: red;">*</label>Cron表达式：</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" name="cronExpression"
                                               id="cronExpression"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label" for="remark">备注：</label>
                                    <div class="col-lg-7">
                                        <textarea type="text" rows="4" class="form-control" name="remark"
                                                  id="remark"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-7 col-lg-offset-4">
                                        <button type="button" class="btn btn-primary" style="width: 40%" id="submitBtn">提交</button>
                                        <button type="button" class="btn btn-info" style="width: 35%" id="cancelBtn">取消</button>
                                        <!--                                <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">Loading state</button>-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                    <!-- :form -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>